@import '../utils/mixins';

.bottom-page {
    display: flex;
    flex-direction: column;
    background-color: #fcf8ed;
    height: 600px;

    &-images {
        position: relative;

        &-maddy, &-santabarbara, &-maddyplage, &-smiley1, &-smiley2 {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            position: absolute;

            @include desktop {
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            }
        }

        &-maddy {
            width: 120px;
            top: 215px;
            left: 90px;
            z-index: 2;

            @include desktop { 
                width: 230px;
                top: 250px;
                left: 142px;
            }
        }

        &-santabarbara {
            width: 140px;
            top: 140px;
            left: 12px;
            transform: scaleX(-1);

            @include desktop { 
                width: 300px;
                top: 150px;
            }
        }

        &-smiley1 {
            width: 35px;
            top: 195px;
            left: 135px;
            transform: rotate(-18deg);
            border-radius: 50px;
            transition: transform 0.3s ease;
            z-index: 2;

            @include desktop { 
                width: 50px;
                top: 490px;
            }

            &:hover {
                transform: rotate(360deg);
                transition: all 0.8s ease;
            }
        }

        &-maddyplage {
            width: 120px;
            top: 460px;
            right: 12px;

            @include desktop { 
                width: 250px;
                top: 250px;
            }
        }

        &-smiley2 {
            width: 35px;
            top: 445px;
            right: 20px;
            border-radius: 50px;
            transition: transform 0.3s ease;
            z-index: 2;

            @include desktop { 
                width: 50px;
                top: 230px;
                right: 35px;
            }

            &:hover {
                transform: rotate(360deg);
                transition: all 0.8s ease;
            }
        }
    }

    &-quotes {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 20px;

        h2 {
            font-family: 'Montserrat', sans-serif;
            font-style: italic;
            color: #553119;
            font-size: 1.3rem;
            margin-bottom: 15px;

            @include desktop {
                font-size: 1.8rem;
                margin-bottom: 40px;
            }
        }

        &-one {
            font-size: 0.6rem;
            margin-bottom: 230px;
            color: #19a8a1;

            @include desktop {
                font-size: 0.8rem;
                margin-bottom: 30px;
            }
        }

        ul {
            list-style: none;
            padding-top: 0;
            text-align: left;
            font-style: italic;
            color: #553119;

            @include desktop {
                padding-top: 45px;
            }

            li {
                margin: 10px 0;
                font-size: 0.7rem;

                @include desktop {
                    font-size: 0.8rem;
                }
            }
        }

        &-emojis {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 135px;
            padding: 20px;

            @include desktop {
                margin-top: 90px;
            }

            img {
                width: 100px;
                height: auto;
            }
        }
    }
}