.instafeed {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fcf8ed;
    padding: 40px 0;

    &-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    }

    &-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        max-width: 1500px;
        background-color: rgba(232, 225, 215, 0.95);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        z-index: 3;

        &-title {
            color: #553119;
            font-size: 20px;
            font-weight: 500;
            font-style: italic;
            transition: transform 0.3s ease;
            padding-bottom: 1rem;
        }

        &-photos {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 5px; 

            &-item {
                position: relative;
                width: calc(15% - 5px);
                overflow: hidden;

                &:hover .instafeed-container-photos-item-overlay,
                &:focus .instafeed-container-photos-item-overlay {
                    opacity: 1;
                    visibility: visible;
                }

                &-img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &-overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.6);
                    color: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0.3s ease, visibility 0.3s ease;

                    &-caption {
                        margin-bottom: 10px;
                        font-size: 10px;
                        text-align: center;
                    }

                    &-hashtags {
                        font-size: 5px;
                        text-align: center;
                    }
                }
            }
        }
    }
}