@use "sass:math";

$w: 5px;
$h: 20 * $w;
$count: 20;
$time: 2s;
$delay: math.div($time, 2);

@mixin animation($name) {
    @keyframes #{$name} {
        @content;
    }
}

@include animation(rotate) {
    100% {
        transform: rotate(360deg);
    }
}

@include animation(move) {
    0%, 100% {
        height: $h;
    }
    50% {
        height: math.div($h, 2.5);
    }
}

@include animation(fadeIn) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e1d7;
    z-index: 1000;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    animation: rotate 3 * $time infinite linear;
}

.line {
    position: absolute;
    left: 50%;
    top: 50%;
    width: $w;
    height: $h;
    background: #ad5a22;
    border-radius: $w;
    transform-origin: 50% 0%;

    @for $i from 1 through $count {
        &:nth-child(#{$i}) {
            transform: rotate($i * math.div(360deg, $count));
            animation: move $time infinite;

            @if ($i % 2 == 0) {
                animation-delay: $delay;
            }
        }
    }
}

.loader-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    font-family: 'YourFont', sans-serif;
    animation: fadeIn 2s ease-in-out;

    .loader-text-top,
    .loader-text-bottom {
        font-size: 24px;
        animation: fadeIn 2s ease-in-out;
    }

    .loader-text-top {
        transform: translateY(-50%) rotate(-10deg);
    }

    .loader-text-bottom {
        transform: translateY(50%) rotate(10deg);
    }
}
