.contact {
    margin-top: 128px;
    background-color: #fcf8ed;

    &-quotes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #e8e1d7;
        height: 100px;

        &-text {
            font-size: 15px;
            font-weight: 400;
            color: #553119;
            text-shadow: 1px 1px 3px rgba(43, 28, 22, 0.501);
            text-align: center;
            font-style: italic;
        }
    }

    &-images{
        position: relative;
    }

    &-info{
        padding-left: 20px;
    }

    .sun-container {
        display: flex;
        justify-content: center;
        align-items: center;

        &-img {
            width: 10%;
            transition: transform 0.3s ease;

            &:hover {
                transition: all 4s ease;
                transform: rotate(360deg);
            }
        }
    }
}

.contact-infos-1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 150px;
}

.contact-infos-2 {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 150px;
}

.contact-infos-1,
.contact-infos-2 {
    padding: 50px 0px;
} 

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #553119;
    font-size: 20px;
}

.background-info {
    display: flex;
    align-items: center;
    background-color: #e8e1d7;
    width: 35%;
    border-radius: 12px;
    margin: 30px 0;
}

.contact-images-smiley1,
.contact-images-smiley2,
.contact-images-pearls,
.contact-images-lossantos,
.contact-images-mirrorselfie,
.contact-images-maddss {
    position: absolute;
}

.contact-images-lossantos{
    width: 240px;
    bottom: 100px;
    left: 810px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.contact-images-pearls{
    width: 190px;
    bottom: 30px;
    left: 910px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.contact-images-maddss {
    width: 230px;
    top: 340px;
    left: 115px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.contact-images-mirrorselfie{
    width: 160px;
    top: 250px;
    left: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.contact-images-smiley1,
.contact-images-smiley2 {
    z-index: 3;
    width: 50px;
    margin-left: 0;
    margin-top: 20px;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;

    &:hover {
        transition: all 0.8s ease;
        transform: rotate(360deg);
    }
}

.contact-images-smiley1 {
    top: 400px;
    left: 95px;
}

.contact-images-smiley2 {
    transform: rotate(-18deg);
    left: 895px;
    top: -150px;
}

.flower1 {
    transform: rotate(-18deg);
    left: 1020px;
    top: -320px;
}

.flower2 {
    top: 295px;
    left: 160px;
}