.contact {
    margin-top: 128px;
    background-color: #fcf8ed;

    &-quotes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #e8e1d7;
        height: 100px;

        &-text{
            font-size: 15px;
            font-weight: 400;
            color: #553119;
            text-shadow: 1px 1px 3px rgba(43, 28, 22, 0.501);
            text-align: center;
            font-style: italic;
        }
    }
    

    .sun-container{
        display: flex;
        justify-content: center;
        align-items: center;
        
            &-img {
                width: 10%;
            }
    }
}