.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;

    .link {
        text-decoration: none; // Supprime le soulignement pour tous les liens avec la classe .link

        &:hover, &:visited {
            text-decoration: none; // Assure que le lien reste non souligné même après avoir été visité ou au survol
        }
    }

    h1 {
        font-family: 'Arial, sans-serif';
        margin: 0;
        font-size: 30px;
        color: #ad5a22;
        text-decoration: none;

        &:hover {
            transform: scale(1.05);
        }
    }

    nav ul {
        list-style: none;
        display: flex;
        gap: 15px;
        margin: 0;
        padding: 0;

        .link {
            color: #000;

            &:hover {
                color: #ad5a22;
            }
        }
    }
}
